@model IEnumerable<KRoos_29590868_Project2_DimensionData.Models.EmployeeHistory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumCompaniesWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWorkingYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsAtCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsInCurrentRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsSinceLastPromotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsWithCurrManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingTimesLastYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumCompaniesWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWorkingYears)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsAtCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsInCurrentRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsSinceLastPromotion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsWithCurrManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingTimesLastYear)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.empHistoryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.empHistoryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.empHistoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
