@model KRoos_29590868_Project2_DimensionData.Models.Employee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empHistoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empHistoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empPerformanceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empPerformanceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education.EducationID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job.JobID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pay.PayID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Survey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Survey.SurveyID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeNumer" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
