@model KRoos_29590868_Project2_DimensionData.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empHistoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empHistoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empPerformanceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empPerformanceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education.EducationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job.JobID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pay.PayID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Survey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Survey.SurveyID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeNumer">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
