@model IEnumerable<KRoos_29590868_Project2_DimensionData.Models.CostToCompany>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HourlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentageSalaryHike)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageSalaryHike)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PayID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PayID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PayID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
