@model IEnumerable<KRoos_29590868_Project2_DimensionData.Models.JobInformation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandardHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessTravel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StackOptionLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessTravel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StackOptionLevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
